body { direction: rtl; 
       font-family: 'Arial (Hebrew)', Arial;
       margin: 0px;
       padding: 0px;
       padding-bottom: 38px; 
       margin-top:0 ;
       padding-top:0 ;
     }

ul { list-style-type:none; padding-inline-start: 0px;}
#container { width: 900px; margin: 0 auto; padding-bottom: 30px; }

a { text-decoration: none; }
a:hover { text-decoration: underline; color: #005CA0 !important; }
a:focus{outline: thin dotted silver;}
a:active{border-width:1px;border-style:dotted;}

a.readMore { font-size: 13px; text-decoration: underline; }
a.readMore.white { background: url("images/read_more_white.png") no-repeat left center; }
a.readMore.yellow { background: url("images/read_more_yellow.png") no-repeat left center; }
a.readMore:hover { background: url("images/read_more_blue.png") no-repeat left center; }
a.readMore span { padding-left: 12px; }
*+html a.readMore span { padding-right: 12px; } /* IE7 */

#header { width: 100%; height: 105px; display: flex; flex-flow: column ; margin: auto ;  margin-bottom: 30px;  position: relative; z-index:100; background: rgb(143,153,143)}
#header #searchBox {  width: 900px; height: 26px;   margin: auto ; margin-top: 20px; margin-bottom: 0px;  display: flex ; flex-direction: row ;   }
#header #searchBox .input { width: 132px; height: 19px; margin-right: 10px;  background-color: rgb(255,255,255); border-radius: 0px 5px 0px 0px }
#header #searchBox .input input[type="text"] { top: 2px; right: 4px; width: 120px; right:0px; background: transparent; border: 0 none; }
#header #searchBox>a {  width: 19px; height: 19px;  background: url("images/search_button.png") no-repeat 0 0; }
#header #searchBox>a:hover { text-decoration: none; }
#header #searchBox #langmenu { position: relative; width: 50px ; height: 19px; padding: 0px ; margin: 0px; margin-right: 708px;}
#header #searchBox #langmenu a{ font-size: 12px;font-weight: bold;color: white;}

#header #main_had_div{ position: relative; display: flex ; flex-direction: row ; top: 0px ; height: 33px; width: 900px; bottom: 2px; margin:auto ;  margin-top: 0px;}
#header #main_had_div .logo { display: block; width: 133px; height: 93px; margin-top: -12px ; background: url(images/paz_logo.png) no-repeat 0 0; }

#header #mainMenu { height: 33px; width: 757px; margin: auto; margin-top: 25px; margin-right: 10px; }
#header #mainMenu li { height: 100%; float: right;  position: relative; display: block; ; text-align: right ; right:0px;}
#header #mainMenu li.sep { width: 4px; height: 21px; background: url("images/menu_sep.png") no-repeat 0 0px; margin: 0 16px; }
#header #mainMenu li a.home { width: 17px; background: url(images/menu_home.png) no-repeat 0 top; }
#header #mainMenu li a.home:hover, #header #mainMenu li a.home.selectednode { background-position: -17px top; }
#header #mainMenu li a { display: inline-block; color: #fff; font-size: 15px; font-weight: bold; height: 100%; }
#header #mainMenu li a:hover, #header #mainMenu li a.selectednode { color: #005ca0; }
#header #mainMenu li ul { position:absolute; z-index: 200; top: 33px; right: 0; display: none; background: rgb(143,153,143) url("images/menu_dropdown_bg.png") repeat-x 0 0; }
#header #mainMenu li:hover ul { display: block; }
#header #mainMenu li ul li { float: none; padding: 0 5px; }
*+html #header #mainMenu li ul li { width: 220px; overflow: hidden; }
#header #mainMenu li ul li:hover { background-color: #bcbcbc; display: block; }
#header #mainMenu li ul li a { display: block; width: 100%; height: 100%; padding: 5px 0; white-space: nowrap;  }
#header #mainMenu li ul li a:hover { color: #005ca0; width: 100%; background: url ("images/pixel.jpg"); }
#header #mainMenu li ul li a span { display: block; width: 100%; ; text-align: right  }
#header #mainMenu li ul li.sep {  display: inline; zoom: 1; padding: 0; margin: 0;  background: url("images/menu_dropdown_sep.png") repeat-x 0 0; }
*+html #header #mainMenu li ul li.sep { width: 220px; height: 1px; padding: 0; margin: 0; line-height: 1}
#li1{ width:17px;}

#hp {  width: 900px ; height: 589px ;  margin:auto ; margin-bottom: 40px;}
#hp .tabs {position: relative; height: 360px;}
#hp .tab { position: relative; z-index: 10; width: 290px; height: 352px; float: right; margin: 0px 0px 0px  10px ;}
#hp .tab img.overlay { position: absolute; top: 0; right: 0; }
#hp .tab div.text { width: 218px; height: 77px; overflow: hidden; padding: 10px; position: absolute; left: 38px; bottom: 6px; color: #fff; background: rgba( 126,124,121,0.8); border-radius: 0px 0px 20px 0px }
#hp .tab div.text h3 { font-size: 14px; font-weight: bold; margin: 0px;}
#hp .tab div.text p { font-size: 13px; margin: 0px;  }
#hp .tab div.text a.readMore { float: left; color: #fff; position: relative; bottom: 4px; }
#hp .tab div.text a.readMore:hover { color: #005ca0; }

#hp .cubes { position: absolute ;  margin: 0px 0px 0px  10px ; margin-bottom: 35px;  color: #575757; padding: 0px; }
#hp .cubes { display: flex;
            flex-direction: row } ; 

#hp .cube1 .hrefdiv ,   #hp .cube2 .hrefdiv ,   #hp .cube3 .hrefdiv {text-align: left;  font-size: 14px;} 
#hp .cube1 .hrefdiv a , #hp .cube2 .hrefdiv a, #hp .cube3 .hrefdiv a{ color: grey ; font-size:14px ; margin: 20px;} 

#hp .cube1 , #hp .cube2 , #hp .cube3 {  height: 219px; width: 292px; margin-top: 10px ;  background: rgba(250, 250, 250, 0.849);  box-sizing:border-box ; border: 2px solid lightgrey ;   border-radius: 0px 20px 0px 0px }
#hp .cube1 a.readMore  , #hp .cube2 a.readMore { float: left; color: #72716d; }
#hp .cube1 a.readMore:hover , #hp .cube2 a.readMore:hover { color: #005ca0; }


#hp .bg {  border-radius: 0px 0px 20px 0px; }
#hp .cube1 , #hp .cube2 , #hp .cube3 { float: right; position: relative; display: flex; flex-direction: column ; background-color: rgb(244,244,244); } 
.cubeh3 { height: 34px; width: 230px ; margin: 0px 18px 14px 0px;  line-height: 34px; font-size: 14px; font-weight: bold ; text-align: right; border: 3px solid rgb(200,200,200); border-width: 0px 0px 1px 0px}
#hp .cube1 img , #hp .cube2 img {  width: 253px; height: 110px; padding-right: 15px; }

#hp .cube3 h3 { margin-bottom: 6px; }
#hp .cube3 img { float: left; margin-left: 15px;  height: 170px;}
#hp .cube3 .fc { height: 150px; }
#hp .cube3 .text { float: right;  margin-top: 7px; margin-right: 25px;  }
#hp .cube3 .text a.readMore { float: none; display: block;  margin-bottom: 7px; color: rgb(100,100,100); }
#hp .cube3 a{color: rgb( 154,154,154);}


#fixedFooter { width: 100% ; height: 38px; position: fixed; z-index: 999999; bottom: 0px; background: rgb(143,153,143); }
#fixedFooter .menu { font-size: 14px ; width: 900px; margin: auto;  }
#fixedFooter .menu ul { color: #fff;  }
#fixedFooter .menu li { float: right; }
#fixedFooter .menu li.sep { margin: 0 5px; }
#fixedFooter .menu li a { color: #fff; }
#fixedFooter .menu li a:hover { color: #005CA0 }
#fixedFooter .menu li a.fbLink { display: block; position: relative; bottom: 2px; width: 18px; height: 18px; background: rgb(143,153,143) }
#fixedFooter .menu li #ared { color:red }

